


.hljs-comment,.hljs-quote {
  color: #969896;
  font-style: italic
}

.hljs-addition,.hljs-keyword,.hljs-literal,.hljs-selector-tag,.hljs-type {
  color: #c9c
}

.hljs-number,.hljs-selector-attr,.hljs-selector-pseudo {
  color: #f99157
}

.hljs-doctag,.hljs-regexp,.hljs-string {
  color: #8abeb7
}

.hljs-built_in,.hljs-name,.hljs-section,.hljs-title {
  color: #b5bd68
}

.hljs-class .hljs-title,.hljs-selector-id,.hljs-template-variable,.hljs-variable {
  color: #fc6
}

.hljs-name,.hljs-section,.hljs-strong {
  font-weight: 700
}

.hljs-bullet,.hljs-link,.hljs-meta,.hljs-subst,.hljs-symbol {
  color: #f99157
}

.hljs-deletion {
  color: #dc322f
}

.hljs-formula {
  background: #eee8d5
}

.hljs-attr,.hljs-attribute {
  color: #81a2be
}

.hljs-emphasis {
  font-style: italic
}

* {
  font-family: Montserrat,sans-serif
}

ol li,ul li {
  margin-top: 0!important
}

.pink {
  background-color: pink
}

.blue {
  background-color: #4fa7f5
}

.green {
  background-color: #53e027
}

.yellow {
  background-color: #ff0
}

.gray {
  background-color: grey
}

.sticky-column {
  left: 212px!important
}

/*! Based on Spectre.css v0.4.5 | MIT License | github.com/picturepan2/spectre */
.ngx-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%
}

.ngx-container--dark {
  background-color: #50596c
}

.ngx-table {
  color: #50596c;
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  font-family: Montserrat,Verdana,serif;
  font-size: 14px;
  text-align: left;
  width: 100%
}

.ngx-table td {
  border-bottom: 1px solid #e7e9ed;
  padding: 12px 6px
}

.ngx-table th {
  padding: 12px 6px;
  border-bottom: 2px solid #e7e9ed
}

.ngx-table__table-cell--selected,.ngx-table__table-col--selected,.ngx-table__table-row--selected {
  background: #e7e9ed!important
}

.ngx-table__table-no-results {
  text-align: center
}

.ngx-table__table-loader-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px
}

.ngx-table__body-loading:hover {
  background: 0!important
}

.ngx-table__table-loader {
  animation: spin .6s linear infinite;
  border-radius: 50%;
  border: 1px solid #e7e9ed;
  border-top-color: #50596c;
  height: 1.8rem;
  width: 1.8rem
}

.ngx-table__table-row-context-menu {
  position: absolute
}

.ngx-table__header-search {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #fff none;
  border: .05rem solid #e7e9ed;
  border-radius: .1rem;
  color: #50596c;
  display: block;
  font-size: .8rem;
  height: 1.47rem;
  line-height: 1rem;
  max-width: 100%;
  outline: 0;
  padding: .15rem .3rem;
  position: relative;
  width: 97%
}

.ngx-table__header-cell {
  position: relative
}

.ngx-table__header-cell .pointer {
  cursor: pointer
}

.ngx-table__horizontal-scroll {
  display: block;
  overflow-x: scroll;
  white-space: nowrap
}

.ngx-table__horizontal-scroll::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 3px;
  height: 10px
}

.ngx-table__horizontal-scroll::-webkit-scrollbar-thumb {
  background-color: grey
}

.ngx-table__column-resizer {
  background-color: #e7e9ed;
  cursor: col-resize;
  display: block;
  height: 20px;
  margin-top: 10px;
  position: absolute;
  padding: 0;
  right: 0;
  top: 0;
  width: 2px
}

.ngx-table__table--borderless>tbody>tr>td,.ngx-table__table--borderless>thead>tr>th {
  border-bottom: 0!important
}

.ngx-table__table--hoverable>tbody tr:hover,.ngx-table__table--striped>tbody tr:nth-of-type(odd) {
  background: #f6f7f9
}

.ngx-table__table--tiny>tbody>tr>td,.ngx-table__table--tiny>thead>tr>th {
  border-bottom: 1px solid #e7e9ed;
  padding: 4px 7px
}

.ngx-table__table--normal>tbody>tr>td,.ngx-table__table--normal>thead>tr>th {
  border-bottom: 1px solid #e7e9ed;
  padding: 10px 6px
}

.ngx-table__table--big>tbody>tr>td,.ngx-table__table--big>thead>tr>th {
  border-bottom: 1px solid #e7e9ed;
  padding: 12px 8px
}

.ngx-table__table--dark {
  background-color: #50596c;
  color: #f6f7f9
}

.ngx-table__table--dark>tbody tr:hover {
  color: #50596c
}

.ngx-table__table--dark.ngx-table__table--striped>tbody tr:nth-of-type(odd) {
  background: #5f697d
}

.ngx-table__table--dark-pagination ::ng-deep .ngx-pagination .current {
  background: #f6f7f9;
  color: #50596c
}

.ngx-table__table--dark-pagination ::ng-deep pagination-template>ul {
  -webkit-padding-start: 0;
  -webkit-margin-before: 0
}

.ngx-table__table--dark-pagination ::ng-deep pagination-template>ul>li {
  border: 1px solid #e7e9ed;
  background: #50596c
}

.ngx-table__table--dark-pagination ::ng-deep pagination-template>ul>li.current {
  border: 1px solid #50596c
}

.ngx-table__table--dark-pagination ::ng-deep pagination-template>ul>li>a {
  color: #f6f7f9
}

.ngx-table__table--dark-pagination-wrapper {
  background-color: #50596c
}

.ngx-table__table--dark-pagination-range>#rowAmount>div>div {
  color: #e7e9ed;
  border: 1px solid #e7e9ed;
  background-color: #50596c
}

.ngx-table__table--dark-pagination-range>#rowAmount>div>ul,.ngx-table__table--dark-pagination-range>#rowAmount>div>ul>li {
  color: #e7e9ed;
  background-color: #50596c
}

.ngx-table__header-title {
  display: inline
}

.ngx-menu {
  background: #fff;
  border: 1px solid #e7e9ed;
  list-style: none;
  margin: 0;
  min-width: 60px;
  z-index: 100
}

.ngx-form-icon {
  border-radius: .1rem;
  background: #fff;
  height: .9rem;
  left: 0;
  top: .2rem;
  width: .9rem;
  transition: all .2s ease;
  border: .05rem solid #e7e9ed;
  cursor: pointer;
  display: inline-block;
  position: absolute
}

.ngx-form-checkbox {
  line-height: 1rem;
  margin: .2rem 0;
  min-height: 1.2rem;
  padding: .2rem .4rem .4rem 1.6rem;
  position: relative
}

.ngx-form-checkbox input {
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  width: 1px
}

.ngx-form-checkbox input:focus+.ngx-form-icon {
  box-shadow: 0 0 0 .1rem rgba(63,134,202,.2);
  border-color: #3f86ca
}

.ngx-form-checkbox input:checked+.ngx-form-icon {
  background: #3f86ca;
  border-color: #3f86ca
}

.ngx-form-checkbox input:active+.ngx-form-icon {
  background: #50596c
}

.ngx-form-checkbox input:checked+.ngx-form-icon:before {
  background-clip: padding-box;
  border-color: #fff;
  border-style: solid;
  border-width: 0 .1rem .1rem 0;
  content: "";
  height: 12px;
  left: 50%;
  margin-left: -3px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  width: 6px
}

.ngx-icon {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  font-style: normal;
  height: 1em;
  position: relative;
  text-indent: -9999px;
  vertical-align: middle;
  width: 1em
}

.ngx-icon:after,.ngx-icon:before {
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%)
}

.ngx-icon-arrow-down:before,.ngx-icon-arrow-right:before,.ngx-icon-arrow-up:before {
  border: .1rem solid #50596c;
  border-bottom: 0;
  border-right: 0;
  height: .65em;
  width: .65em
}

.ngx-icon-arrow-down:before {
  transform: translate(-50%,-75%) rotate(225deg)
}

.ngx-icon-arrow-right:before {
  transform: translate(-75%,-50%) rotate(135deg)
}

.ngx-icon-arrow-up:before {
  transform: translate(-50%,-25%) rotate(45deg)
}

.ngx-icon-menu:before {
  background: #50596c;
  box-shadow: 0 -.35em,0 .35em;
  content: "";
  height: .1rem;
  width: 100%
}

.ngx-icon-pin {
  border-radius: 50%;
  border: 4px solid #50596c;
  width: 11px;
  height: 11px
}

.ngx-icon-more:before {
  background: #50596c;
  border-radius: 50%;
  box-shadow: 0 -.4em,0 .4em;
  height: 3px;
  width: 3px
}

.ngx-dropdown {
  display: inline;
  position: relative;
  float: right
}

.ngx-dropdown .ngx-menu {
  position: absolute;
  top: 100%;
  right: 0;
  left: auto
}

.ngx-dropdown a {
  color: #50596c
}

.ngx-btn-group {
  display: inline
}

.ngx-draggable-row {
  cursor: move
}

@keyframes spin {
  0% {
      transform: rotate(0deg)
  }

  to {
      transform: rotate(1turn)
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 1px;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
  background-color: #fff;
  padding-top: 9px;
  padding-left: 4px;
  display: table;
  table-layout: fixed
}

.cdk-drag-placeholder {
  opacity: 0
}

.cdk-drag-animating,.ngx-draggable-row-area.cdk-drop-list-dragging .ngx-draggable-row:not(.cdk-drag-placeholder) {
  transition: transform .15s cubic-bezier(0,0,.2,1)
}

.ngx-table__header-cell--draggable {
  cursor: move;
  background-color: #fff
}

.ngx-table__header--draggable.cdk-drop-list-dragging .ngx-table__header-cell--draggable:not(.cdk-drag-placeholder) {
  transition: transform .15s cubic-bezier(0,0,.2,1)
}

.ngx-pagination {
  font-family: Montserrat,Verdana,serif;
  display: inline-block;
  margin-left: 0;
  margin-bottom: 1rem;
  -webkit-padding-start: 0;
  -webkit-margin-before: 0
}

.ngx-pagination:after,.ngx-pagination:before {
  content: " ";
  display: table
}

.ngx-pagination:after {
  clear: both
}

.ngx-pagination li {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  margin-right: .0625rem;
  border-radius: 0;
  border: 1px solid #e7e9ed
}

.ngx-pagination li.current {
  border: 1px solid #50596c
}

.ngx-pagination li {
  display: inline-block
}

.ngx-pagination a,.ngx-pagination button {
  color: #50596c;
  display: block;
  padding: .1875rem .625rem;
  border-radius: 0
}

.ngx-pagination a:hover,.ngx-pagination button:hover {
  background: #e6e6e6
}

.ngx-pagination .current {
  padding: .1875rem .625rem;
  background: #3f86ca;
  color: #fefefe;
  cursor: default
}

.ngx-pagination .disabled {
  padding: .1875rem .625rem;
  color: #cacaca;
  cursor: default
}

.ngx-pagination .disabled:hover {
  background: transparent
}

.ngx-pagination a,.ngx-pagination button {
  cursor: pointer
}

.ngx-pagination .pagination-previous.disabled:before,.ngx-pagination .pagination-previous a:before {
  content: "«";
  display: inline-block;
  margin-right: .5rem
}

.ngx-pagination .pagination-next.disabled:after,.ngx-pagination .pagination-next a:after {
  content: "»";
  display: inline-block;
  margin-left: .5rem
}

.ngx-pagination .show-for-sr {
  position: absolute!important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0,0,0,0)
}

.ngx-pagination .small-screen {
  display: none
}

.ngx-pagination-wrapper {
  margin-top: 8px
}

.ngx-pagination-range {
  display: inline-block;
  float: right
}

.ngx-pagination-steps {
  display: inline-block
}

.ngx-pagination-range-dropdown {
  margin-top: 0
}

.ngx-pagination-range-dropdown-button-item {
  cursor: pointer;
  color: #50596c;
  padding: .4rem
}

.ngx-pagination-range--selected {
  background-color: #f6f7f9
}

.ngx-pagination-range-dropdown-button {
  color: #50596c;
  border: 1px solid #e7e9ed;
  cursor: pointer;
  padding: 4px
}

.pinned-left {
  position: sticky;
  z-index: 1;
  background-color: #fff;
  box-shadow: 2px 0 0 hsla(0,0%,50.2%,.175)
}

@media screen and (max-width: 601px) {
  .ngx-pagination.responsive .small-screen {
      display:inline-block;
      padding: .1875rem .625rem;
      border-radius: 0
  }

  .ngx-pagination.responsive li:not(.small-screen):not(.pagination-previous):not(.pagination-next) {
      display: none
  }
}

.ngx-infinite-scroll-viewport {
  display: block;
  height: 250px;
  overflow: auto
}

.ngx-infinite-scroll-viewport-thead,.ngx-infinite-scroll-viewport tr {
  display: table;
  width: 100%;
  table-layout: fixed
}

